@import url("https://fonts.cdnfonts.com/css/changa-one");
@import url("https://fonts.cdnfonts.com/css/archivo");

body {
  background-color: #f9f9fb;
}

.najdiSkret {
  font-family: "Changa One", Impact, sans-serif;
  font-size: 50px;
}
.logo-link {
  text-decoration: none;
}

.navbar-text {
  color: #576b53;
  margin: 0px 0px 0px 10px;
}
.top-menu {
  background-color: #faf0e6;
  padding: 10px 50px 10px 50px;
}
.home_banner_area {
  position: relative;
  z-index: 1;
  min-height: 754px;
}

.home_banner_area .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 754px;
}
.home_banner_area .banner_inner {
  width: 100%;
  background: url(../img/poplave2.jpg);
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
.home_banner_area .banner_inner .banner_content {
  color: #fff;
}
.home_banner_area .banner_inner .banner_content h5 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
}

.home_banner_area .banner_inner .banner_content h3 {
  font-size: 70px;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.donation_area {
  margin-top: -90px;
}

.dontation_item {
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
}
.dontation_item h3 {
  text-align: center;
  font-family: Changa One, Impact, sans-serif;
  font-size: 40px;
}

.blue {
  background: #5e6a6e;
}

.green {
  background: #576b53;
}

.wishes-section {
  text-align: center;
  padding: 30px;

  .wishes_label {
    font-family: Archivo, sans-serif;
    font-size: 60px;
    color: #3e404c;
    font-weight: 600;
  }
  .wishes_label mark {
    background-color: transparent;
    color: #3ebb7f;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
  }
}

.wish_item {
  width: 70%;
  height: 190px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px 0px 20px 0px;

  .wish_image {
    height: 60%;
  }
  .wish_label {
    margin: 20px 0px 20px 0px;
    font-family: Changa One, Impact, sans-serif;
    color: #3ebb7f;
  }
}

.about-us {
  background-color: rgb(98, 98, 98);
  color: white;
  padding: 50px 20px 50px 20px;
  .about-us-info {
    padding: 20px;
  }
}

.top-donators {
  align-items: center;
  text-align: center;
  padding: 100px 0px 50px 0px;

  .top-donators-label {
    font-size: 60px;
    font-family: Changa One, Impact, sans-serif;
    font-weight: 400;
    color: #3e404c;
  }

  .top-donators-label mark {
    background-color: transparent;
    color: #3ebb7f;
  }

  .donators-rects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .donator-rect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    margin: 10px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    border-bottom: 1px solid #555660;
  }

  .donator-rect img {
    height: 100%;
  }

  .donator-rect h3 {
    font-family: Changa One, Impact, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #3e404c;
    margin: 0;
  }

  .kolicina-donatorja {
    text-align: left;
    width: 150px;
  }

  .ime-donatorja {
    text-align: left;
    width: 500px;
  }
}

.activeRouter {
  font-weight: bold;
}

.home-link {
  font-weight: normal;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-input {
  border-radius: 4px;
}
.form {
  border-radius: 10px;
}

.submit-button:hover {
  background-color: #2a9662;
}
.password-container {
  position: relative;
}
.fas.fa-eye,
.fas.fa-eye-slash {
  position: absolute;
  cursor: pointer;
  /* Adjust these values as needed to position the eye icon correctly */
  right: 20px;
  top: 65px;
}

.footer-container {
  background-color: #faf0e6;
  padding: 50px 0px 50px 20px;
}

.FAQ:hover {
  cursor: pointer;
}

.main-content {
  min-height: calc(100vh - 370px);
}


/* Add more styles as necessary */
@media handheld and (max-width: 768px) {
  .donator-rect {
    padding: 20px 0px 20px 0px;
  }
  .donator-rect h3 {
    font-size: 30px;
  }
}
