#sidebar-wrapper{
    position: fixed;
    top:10vh;
    right: 0;
    width:20%;
    height: 90vh;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.7rem;
    font-weight: bold;

}


.hide-btn {
    position: fixed;
    top: 10vh;
    right: 0;
    z-index: 1000;
}

.hide-btn:hover {
    cursor: pointer;
}

.navigate-btn{
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
}

.rating {
  display: flex; /* Aligns stars and text inline */
  align-items: center; /* Vertically center alignment */
  font-size: 1.2rem; /* Larger text for rating number */
}

.fa-star {
  color: #ffc107; /* Gold color for stars */
  margin-right: 2px; /* Space between stars */
  font-size: 1.2m; /* Larger stars */

}


.rating {
    margin-bottom: 10px; /* Space below the rating */
    
}