.comment-container {
  margin-top: 20px;
}


.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.comment-author {
    font-weight: bold;
    font-size: 20px;
}


.comment-date {
  font-size:14px;
}

.comment-img{
    width: 80%;
    height: 150px;
    margin-right: 10px;
}

.fa-star {
  color: #ffc107; /* Gold color for stars */
  margin-right: 2px; /* Space between stars */
  font-size: 0.7em; /* Larger stars */

}

.fa-paper-plane {
  margin: 0px 10px 0px 10px;
}

.fa-paper-plane:hover{
  cursor: pointer;
}

.add-comment {
  margin-bottom:30px;
}