
#elm-container {
    width: 80%;
    height: 90% !important; /* Adjust the width as needed */
    position: fixed !important;
    margin-top: 10vh !important;
}
canvas{
    width: 80%;
    height: 90% !important; /* Adjust the width as needed */
    position: fixed !important;
    margin-top: 10vh !important;
}