.logo-link {
    text-decoration: none;
}

.navbar-text {
    color: #576b53;
    margin: 0px 0px 0px 10px;
}

.top-menu {
    background-color: #faf0e6;
    padding: 10px 50px 10px 50px;
}

.activeRouter {
    font-weight: bold;
}

.main-content {
    min-height: calc(100vh - 370px);
}

.najdiSkret {
    font-family: "Changa One", Impact, sans-serif;
    font-size: 50px;
}