.form {
    background-color: white;
    margin: -30px 10px 100px 10px;
    padding: 40px 15% 60px;
    border: solid 1px #ccc;
}

.field-label {
    color: #3e404c;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0%;
    font-family: Archivo, sans-serif;
    font-weight: bold;
}

.text-field {
    color: #3e404c;
    margin-bottom: 20px;
    padding: 0;
    font-family: Archivo, sans-serif;
}

.w-input {
    width: 100%;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}

.submit-button {
    width: 100%;
    background-color: #3ebb7f;
    border-radius: 7px;
    margin-top: 30px;
    padding-top: 9px;
    font-family: Archivo, sans-serif;
}

.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3ebb7f;
    border: 0;
    border-radius: 7px;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

.oglas-subtitle {
    letter-spacing: -0.02em;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.container-small {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

#objavi-oglas-title {
    padding-top: 10px;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 700;
}

.title-centered {
    max-width: 610px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.h2p {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
}

.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.awesomplete {
  position: relative;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.awesomplete > ul:empty {
  display: none;
}

@supports (transform: scale(0)) {
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -0.43em;
  }

  .awesomplete > ul[hidden],
  .awesomplete > ul:empty {
    opacity: 0;
    transform: scale(0);
    display: block;
    transition-timing-function: ease;
  }
}

/* Pointer */
.awesomplete > ul:before {
  content: "";
  position: absolute;
  top: -0.43em;
  left: 1em;
  width: 0;
  height: 0;
  padding: 0.4em;
  background: white;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.awesomplete > ul > li:hover {
  background: hsl(200, 40%, 80%);
  color: black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(205, 40%, 40%);
  color: white;
}

.awesomplete mark {
  background: hsl(65, 100%, 50%);
}

.awesomplete li:hover mark {
  background: hsl(68, 100%, 41%);
}

.awesomplete li[aria-selected="true"] mark {
  background: hsl(86, 100%, 21%);
  color: inherit;
}

.w-input {
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.submit-button:hover {
    background-color: #2a9662;
}

.form {
    border-radius: 10px;
}